.cmb-form {
    font-family: DM Sans,sans-serif!important;
}

.rnoc_counter_container {
    width: 100%;
}

.rnoc_counter_container .rnoc_counter_widget {
    display: inline-block;
    position: relative;
    min-width: 150px;
    margin-right: 2%;
    float: left;
    color: #FFFFFF !important;
}
.rnoc_counter_container .rnoc_counter_widget:last-child{
    margin-right: 0;
}

.rnoc_width_23 {
    width: 23% !important;
}

.rnoc_width_18 {
    width: 18% !important;
}

.rnoc_counter_widget.widget_violet {
    background: #5a3bb3;
}

.rnoc_counter_widget.widget_green {
    background: #01a300;
}

.rnoc_counter_widget.widget_orange {
    background: #ea8906;
}

.rnoc_counter_widget.widget_blue {
    background: #0192a5;
}

.rnoc_counter_widget.widget_red {
    background: #ffffff;
    color: #000000 !important;
}

.rnoc_counter_box {
    box-shadow: 2px 2px 21px 1px #eee;
    padding: 15px;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
}

.rnoc_counter_box a {
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    height: 35px;
    margin: 10px 0 0;
    padding: 3px 30px;
    background: #ff9900;
    border-color: #ff9900;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
}

.rnoc_counter_container .rnoc_counter_widget .rnoc_widget_title_container {
    text-align: center;
    padding: 8px 0;
    display: inline-block;
}

.rnoc_counter_container .rnoc_counter_widget .rnoc_counter_title {
    font-size: 14px;
}

.rnoc_counter_container .rnoc_counter_widget .rnoc_counter_body {
    padding: 30px;
    text-align: center;
    font-size: 2em;
}

.rnoc_counter_container .rnoc_counter_widget .rnoc_counter_body a {
    text-decoration: none;
    color: #ffffff !important;
}
.rnoc_counter_box a {
    font-weight: 700;
}



/*  UI Design - Retainful Style */

.retainful_abandoned_container .cmb2-options-page .cmb2-metabox>.cmb2-id-rnoc-abandoned-cart-report {
    padding: 1em;
    margin-top: -1px;
    background: #fff ;
    border: 1px solid #e2e7f3 ;
    box-shadow: 0 0 0 rgba(0,0,0,.00);
}
.retainful_abandoned_container .card_main_box
{
    padding: 40px 0;
}
.retainful_abandoned_container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.retainful_abandoned_container .rnoc_counter_widget.card_main_box {
    padding: 20px;
    background: #fff0e9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(126,142,177,.12);
    margin-bottom: 20px;
    transition: 0.2s;
    flex: 1;
}
.retainful_abandoned_container .rnoc_counter_widget.card_main_box:hover {
    box-shadow: 0 5px 25px 0 rgba(0,0,100,.1);
}
.retainful_abandoned_container .avatar-lg {
    height: 2.9rem;
    width: 2.9rem;
    margin: 0 auto;
    border-radius: 50%;
    float: right;
}
.retainful_abandoned_container .rnoc_counter_widget .card-box-value {
    padding: 10px 5px 10px 5px;
    text-align: left;
    font-size: 40px;
    color: #2a2a2a;
    font-weight: 600;
}
.retainful_abandoned_container .rnoc_counter_widget .card-box-name {
    text-align: center;
    padding: 0;
    color: #39424b;
    font-size: 16px ;
    font-weight: 600;
}
.avatar-lg-1 {
    background:#d2eafd;
}
.avatar-lg-2 {
    background:#e4e0fb;
}
.avatar-lg-3 {
    background:#ffedc4;
}
.avatar-lg-4 {
    background:#d5f5d0;
}
.img_icon {
    padding: 29%;
    margin-top: 0;
    width: 42%;
}
.woocommerce-Price-currencySymbol{
    margin-right: 10px
}
.upgrade-premium_box
{
    box-shadow: 0 2px 4px rgba(126,142,177,.12);
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    background: #54B22E;
    line-height: 1.4;
    vertical-align: middle;
    color: #fff;
    font-weight: 600;
}
.wp-core-ui .button-primary {
    background: #9eabc5;
    font-weight: 600!important;
    border-color: #0198e0 #0198e0 #0198e0;
    box-shadow: 0 0 0 #0198e0;
    color: #fff;
    text-decoration: none;
    text-shadow:none !important;
}
.abandoned_cart_filter .wp-ui-filters{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 37px;
    height: 37px;
    margin: 0;
    padding: 0 15px 0;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 30px;
    white-space: nowrap;
    box-sizing: border-box;
    margin-right: 10px;
    transition: 0.2s;
    background: #fff0e9;
    border: 1px solid #eee;
    color: #ff7f45;
}
.abandoned_cart_filter .wp-ui-filters.active{
    background: #ff7f45;
    color: #ffffff;
    border-color: #ff7f45;
}
.abandoned_cart_filter .filter_by {
    font-weight: 700;
    color: #888888;
    font-size: 15px;
    padding-right: 15px
}
.abandoned_cart_filter a:hover
{
    box-shadow: 0 4px 3px rgba(126, 142, 177, 0.40);
}
.upgrade-premium_box a:hover
{
    box-shadow: 0 4px 3px rgba(126, 142, 177, 0.40);
}
.abandoned_cart_filter a:hover
{
    box-shadow: 0 7px 6px rgba(126, 142, 177, 0.40);
}
.abandoned_cart_filter .button-abandoned {
    color: #e24344;
    background-color: #ffeaea;
}
.abandoned_cart_filter .button-recovered {
    color: #2dcb73;
    background-color: #dfffed;
}
.wp-core-ui .button, .wp-core-ui .button-secondary {
    border-color: #ccc;
    box-shadow: 0 0 0 #fff;
    vertical-align: top;
}
.button-secondary {
    border-color: #0198e0;
    box-shadow: 0 0 0 #fff;
    vertical-align: top;
}
.abandoned_cart_filter .button-secondary-last
{
    color: #0198e0;
    background-color: #e0f5ff;
}
.abandoned_cart_filter .button-primary-first
{
    color: #fff;
    background-color: #f27052;
}

.abandoned_cart_filter.float-left {
    float: left;
}

@media only screen and (max-width: 1350px)
{
    .rnoc_counter_container .rnoc_counter_widget .card-box-value {
        padding: 22px 5px 10px 5px;
        text-align: center;
        font-size: 32px;
        color: #2d2f3a;
        font-weight: 800;
    }
    .btn-view {
        display: inline-block;
        margin-bottom: 12px;
    }
}
@media only screen and (max-width: 1247px)
{
    .wp-ui-filters {
        font-size: 14px;
        line-height: 39px;
        height: 40px;
        padding: 0 30px 0;
        margin-right: 20px;
    }
    .btn-view {
        display: inline-block;
        margin-bottom: 12px;
    }
}
@media only screen and (max-width: 1024px)
{
    .rnoc_counter_container .rnoc_counter_widget {
        min-width: 47%;
    }
    .abandoned_cart_filter .wp-ui-filters {
        line-height: 37px;
        height: 38px;
        padding: 0 15px 0;
        margin-right: 18px;
    }
    .abd-bg {
        background-color: #ffd7d3;
        padding: 8px 30px;
    }
    .rcd-bg {
        background-color: #e0f7e9;
        padding: 8px 30px;
    }
    .in-prs-bg
    {
        padding: 8px 30px;
    }
    .retainful_abandoned_table>tbody>tr>td, .retainful_abandoned_table>tbody>tr>th, .retainful_abandoned_table>tfoot>tr>td, .retainful_abandoned_table>tfoot>tr>th {
        padding: 16px 4px;
        font-size: 12px;
    }
    .retainful_abandoned_table thead th, .retainful_abandoned_table th {
        color: #88929c;
        font-weight: 700;
        font-size: 12px;
    }
    .btn-view {
        display: inline-block;
        margin-bottom: 12px;
    }
}
@media only screen and (max-width: 601px)

{
    .rnoc_counter_container .rnoc_counter_widget {
        min-width: 88%;
    }
    .abandoned_cart_filter .wp-ui-filters {
        display: block;
        margin-bottom: 5px;
        margin-top: 15px;
    }
    .retainful_abandoned_table {
        width: 90%;
    }
    .retainful_abandoned_table>tbody>tr>td, .retainful_abandoned_table>tbody>tr>th, .retainful_abandoned_table>tfoot>tr>td, .retainful_abandoned_table>tfoot>tr>th {
        padding: 16px 4px;
        font-size: 14px;
    }
    .retainful_abandoned_table thead th, .retainful_abandoned_table th {
        color: #88929c;
        font-weight: 700;
        font-size: 14px;
    }
}

.abandoned_cart_filter .custom-select {
    font-weight: 500;
    color: #333;
    border: 1px solid #eee;
    display: inline-block;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    vertical-align: middle;
    background: #fff;
    border-radius: .25rem;
}