.rnoc-grid {
    width: 100%;
    margin: 20px 0;
    display: flex;
}

.grid-column {
    display: inline-block;
    width: 50%;
    margin: 0.5%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
    border: 1px solid #eeeeee;
    border-bottom: 3px solid transparent;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: all .3s ease-in-out;
}

.hover-design:hover {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 100, .1);
    border-bottom: 3px solid #7abe4d;
}

.grid-column .insert-template {
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0 10px;
    text-transform: capitalize;
    /*white-space: pre-wrap;*/
    border-radius: 4px;
    box-sizing: border-box;
    transition: .2s;
    text-decoration: none;
    background: #6772e5;
    border: 1px solid #6772e5;
    color: #ffffff;
    cursor: pointer;
}

.grid-column .overlay {
    position: relative;
    background: linear-gradient(136.14deg, #8cce17 0%, #54B22E 100%);
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 8px;
    border-radius: 0 20px 20px 0;
    display: inline-block;
    float: left;
    box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
}

.grid-column .get-now-btn a {
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0 10px;
    text-transform: capitalize;
    border-radius: 4px;
    box-sizing: border-box;
    transition: .2s;
    text-decoration: none;
    background: red;
    border: 1px solid red;
    color: #ffffff;
    line-height: 25px;
}

.align-center {
    text-align: center !important;
}

.template-preview {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: background-position 2s ease-in-out;
    -moz-transition: background-position 2s ease-in-out;
    -ms-transition: background-position 2s ease-in-out;
    -o-transition: background-position 2s ease-in-out;
    transition: background-position 2s ease-in-out;
}

.template-preview:hover {
    background-position: 0 -50px;
}

#rnoc_exit_intent_popup_template {
    min-width: 100%;
}

.premium-label {
    color: white;
    background: green;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid green;
    margin-left: 5px;
    font-size: 12px;
}