.rnoc-popup-modal {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.rnoc-form-input-field, .rnoc-form-button-field, .rnoc-accepts-marketing-form-field {
    margin: 0 auto;
}

.rnoc-popup-modal button:disabled, .rnoc-popup-modal button.loading {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.rnoc-popup-modal button.loading:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #ec9a88;
    border-top: 3px solid #ffffff;
    border-radius: 50%;
    margin-left: 10px;
    -webkit-animation: rnocRotate360 1.1s infinite linear;
    animation: rnocRotate360 1s infinite linear;
}

@keyframes rnocRotate360 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rnoc-popup-modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 40%;
    position: relative;
    text-align: center;
}

.rnoc-popup-modal .close-rnoc-popup {
    color: #fff;
    font-size: 26px;
    margin: 7px;
    font-weight: bold;
    position: absolute;
    right: 29%;
    top: 86px;
    width: 30px;
    background: #000000;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0px 2px #fff;
    z-index: 9;
}

.rnoc-popup-modal .close-rnoc-popup:hover,
.rnoc-popup-modal .close-rnoc-popup:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 992px) {
    .rnoc-popup-modal-content {
        width: 90%;
        max-height: 100%;
        overflow: auto;
    }

    .rnoc-popup-modal .close-rnoc-popup {
        right: 4%;

        top: 86px;
    }

    .rnoc-popup-form-block input {
        flex: 0 0 100%;
    }

    .rnoc-popup-form-block button {
        flex: 0 0 100%;
    }
}

@media (max-width: 768px) {
    .rnoc-popup-modal .rnoc-popup-modal-content {
        line-height: 1.3;
    }

    .rnoc-popup-modal .rnoc-popup-modal-content .rnoc-popup-holder .rnoc-header div {
        font-size: 27px !important;
        line-height: 1.3;
    }

    .rnoc-popup-modal .rnoc-popup-modal-content .rnoc-popup-holder .rnoc-content #rnoc_popup_form .rnoc-popup-form-block input, .rnoc-popup-modal .rnoc-popup-modal-content .rnoc-popup-holder .rnoc-content #rnoc_popup_form .rnoc-popup-form-block button {
        flex: 0 0 100% !important;
    }

    .rnoc-popup-modal .close-rnoc-popup {
        right: 1%;
        top: 86px;
    }
}

/*Add to cart popup */

.rnoc-popup a {
    text-decoration: none;
}

.rnoc-popup {
    padding: 15px;
    position: relative;
    /* transition: all 3s ease-in-out;*/
}

.rnoc-popup .rnoc-popup-head {
    display: block;
    padding: 2%;
    text-align: center;
    /* border: 1px dashed #f27052; */
}

.rnoc-popup .rnoc-lw-title {
    padding: 0 2%;
    margin-bottom: 0;
    font-size: 2em;
    color: #1f1e1f;
    font-weight: 600;
    line-height: 1.4em;
}

.rn-popup.rnoc-lw-wrap {
    display: block;
    padding: 0;
    color: #2f2e35;
}

.rnoc-popup .rnoc-lw-center {
    text-align: center;
}

.rnoc-popup .rnoc-lw-field {
    position: relative;
}

.rnoc-popup .lw-content {
    font-size: 1em;
    color: #1f1e1f;
    font-weight: 500 !important;
    line-height: 1em;
    margin-bottom: 5%;
}

.rnoc-popup .rnoc-lw-input {
    display: block;
    width: 100%;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 rgba(37, 39, 44, 0.12);
    height: 47px;
    max-height: 47px;
    padding: 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
    font-weight: 500;
}

.rnoc-popup .rnoc-lw-btn {
    width: 100%;
    display: block;
    padding: 14px 20px;
    height: 48px;
    max-height: 48px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1em;
    box-shadow: 0 3px 5px 0 rgba(37, 39, 44, 0.17);
    font-weight: 600;
    color: white;
    margin: 15px auto;
    text-align: center;
    cursor: pointer;
}

.rnoc-popup .rnoc-popup-head p {
    font-size: 1.4em;
    padding: 0 4%;
    line-height: 1em;
    margin-bottom: 3%;
    color: #1f1e1f;
}

.rnoc-popup .rnoc-popup-head a {
    color: #403f3f;
    font-weight: 600;
}

.rnoc-popup .rnoc-pp-label {
    text-align: center;
    margin: 0 auto 15px auto;
    font-size: 1em;
}

.rnoc-popup .rnoc-pp-label a {
    color: #f27052;
}

.rnoc-popup .rnoc-popup-head span {
    font-size: 0.8em;
    padding: 0 12%;
    line-height: 2em;
    margin-top: 2%;
    color: #403f3f;
    display: block;
}

.rnoc-popup .close {
    position: absolute;
    top: 0px;
    right: 0px;
    transition: all 200ms;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background: #f27052;
    padding: 0px 9px;
    z-index: 0;
    border-radius: 0px 12px 0px 0px;
}

.rnoc-popup .no-thanks-close-popup {
    display: block;
    margin-bottom: 3%

}

.rnoc-ip-coupon-code, a.rnoc-ip-coupon-apply-btn {

    display: inline-block;

}


@media (max-width: 992px) {
    .rnoc-popup {
        width: 100%;
    }

    .rnoc-popup .rnoc-popup-head span {
        font-size: 0.7em;
        padding: 0 5%;
        line-height: 1.6em;
        margin-top: 3%;
    }

    .rnoc-popup .rnoc-lw-input {
        border-radius: 5px;
        margin-top: 3%;
    }

    .rnoc-popup .rnoc-popup-head p {
        font-size: 1.2em;
        margin-bottom: 1%;
    }
}

@media (max-width: 768px) {
    .rnoc-popup-modal .close-rnoc-popup {
        right: 1%;
        top: 5px;
    }

    .rnoc-popup-modal {
        padding-top: 20px;
    }

    .rnoc-popup {
        width: 100%;
    }

    .rnoc-popup .rnoc-lw-title {
        font-size: 1.5em;
        line-height: 1.4em;
        margin-top: 5%;
    }

    .rnoc-popup .rnoc-popup-head {
        padding: 0px;
    }

    .rnoc-popup .rnoc-popup-head p {
        font-size: 1em;
        margin-bottom: 1%;
    }

    .rnoc-popup .rnoc-popup-head span {
        font-size: 0.7em;
        padding: 0 1%;
    }

    .rnoc-popup .rnoc-lw-input {
        width: 100%;
        border-radius: 5px;
        margin-top: 4%;
    }

    .rnoc-popup .rnoc-lw-btn {
        width: 98%;
        border-radius: 5px;
    }

    .rnoc-popup .rnoc-pp-label {
        margin-left: 0px;
        margin-bottom: 5%;
        font-size: 0.9em;
        margin-top: 4%;
    }
}