/**
modal
 */
.rnoc-modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1000;
    width: 100%;
    background-color: rgba(255, 255, 555, 0.7);
}

.rnoc-modal-container {
    position: relative;
    width: 40%;
    margin: auto;
    top: 40px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
    .rnoc-modal-container {
        width: 98%;
        height: 98vh;
        top: 10px;
    }
}

.rnoc-modal-container .rnoc-close-modal {
    position: absolute;
    top: 8px;
    font-size: 0;
    right: 8px;
    width: 30px;
    height: 30px;
}

.rnoc-modal-container .rnoc-close-modal::before,
.rnoc-modal-container .rnoc-close-modal::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #ffffff;
}

.rnoc-modal-container .rnoc-close-modal::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
    background-color: black;
}

.rnoc-modal-container .rnoc-close-modal::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
    background-color: black;
}


.rnoc-modal-container .rnoc-close-modal:hover:before,
.rnoc-modal-container .rnoc-close-modal:hover:after {
    background-color: black;
    transition: 300ms all;
}

/**
core
 */
.rnoc-coupon-timer-container-above_cart {
    text-align: center;
    width: 100%;
    padding: 15px 5px;
}

.timer-coupon-code-above_cart, #rnoc-coupon-timer-above_cart, .timer-coupon-code-below_discount, #rnoc-coupon-timer-below_discount, .timer-coupon-code-top, #rnoc-coupon-timer-top {
    font-weight: 800;
}

.rnoc-coupon-timer-container-top {
    text-align: center;
    width: 100%;
    right: 0;
    position: fixed;
    z-index: 9999;
    padding: 20px 5px;
}

.rnoc-coupon-timer-container-below_discount {
    width: 100%;
    right: 0;
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
    padding: 20px 5px;
}