@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');

[class*="option-retainful"] {
    font-family: DM Sans, sans-serif !important;
}
.cmb2-options-page {
    max-width: 100% !important;
}
.button-red {
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    box-shadow: 0 1px 0 #d42d2a;
    text-decoration: none;
}
.button-green {
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
    box-shadow: 0 1px 0 #3eae50;
    text-decoration: none;
}
p.submit{
    text-align: right !important;
}
.nav-tab-wrapper .nav-tab {
    padding: 15px 20px;
    background: #ffffff;
    color: #39424b;
    line-height: 1;
    transition: all 0.2s;
}
.nav-tab-wrapper .nav-tab.nav-tab-active, .nav-tab-wrapper .nav-tab:hover {
    background: none;
    box-shadow: inset 0 3px 0 #ff7f45;
    border-top-color: #ff7f45;
    color: #ff7f45;
}
.cmb2-wrap input[type="text"], .cmb2-wrap input[type="number"] {
    font-size: 14px;
    max-width: 100%;
    padding: 10px;
    border-radius: 4px;
    height: auto;
}

.text-right {
    text-align: right;
}

.wp-core-ui [class*="option-retainful"] .button {
    font-size: 15px;
    font-weight: 600;
    height: 38px;
    line-height: 38px;
}

.wp-core-ui [class*="option-retainful"] .button-primary {
    background: #0585f9;
    border: 1px solid #0585f9;
    text-shadow: none;
}


/* table */

.retainful_abandoned_table {
    font-size: 13px;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate
}
.retainful_abandoned_table>thead>tr>td,
.retainful_abandoned_table>thead>tr>th
{
    padding:14px 12px;
}
.retainful_abandoned_table>tbody>tr>td,
.retainful_abandoned_table>tbody>tr>th,
.retainful_abandoned_table>tfoot>tr>td,
.retainful_abandoned_table>tfoot>tr>th
{
    padding: 18px 12px;
    border-top-width: 1px;
    border-top-style: solid;
}
.table-bordered>tbody>tr:first-child>td {
    background:#ecf1fb;
    color: #292b35;
    font-size: 14px;
    font-weight: bold;
    padding:15px 12px;
}
.retainful_abandoned_table{
    margin-bottom: 0;
}
.retainful_abandoned_table td, .retainful_abandoned_table th {
    padding: 10px;
    vertical-align: middle;
    border-top: 1px solid #eceef2;
    font-weight: 600;
    color: #1e2b3d;
}
.retainful_abandoned_table .bg-light {
    background-color: #fff0e9;
}
.retainful_abandoned_table thead th {
    vertical-align: bottom;
    border-bottom: 0 solid #f9fbfc;
    border-top: 0 solid #f9fbfc;
}
.retainful_abandoned_table thead th, .retainful_abandoned_table th {
    color: #39424b;
    font-weight: 600;
}
.table-bordered {
    border: 1px solid #e6e6f2;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #e6e6f2;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(230, 230, 242, .5);
}

.table-hover tbody tr:hover {
    background-color: rgba(230, 230, 242, .5);
}

.retainful_abandoned_table tr.group,
.retainful_abandoned_table tr.group:hover {
    background-color: #5969ff ;
    color: #fff;
    font-size: 18px;
}
.retainful_abandoned_table .status-dot {
    border-radius: 50px;
    display: inline-block;
    padding: 10px 15px;
    font-size: 13px;
}
.retainful_abandoned_table .in-prs-bg
{
    background-color:rgba(1, 152, 224, 0.20);
}
.retainful_abandoned_table .abd-bg
{
    background-color:#ffeaea;
}
.retainful_abandoned_table .rcd-bg
{
    background-color: #e0f7e9;
}
.retainful_abandoned_table .mr-1
{
    margin-right:7px;
}
.retainful_abandoned_table .in-prs-clr
{
    color:#0198e0;
}
.retainful_abandoned_table .abd-clr
{
    color:#f13536;
}
.retainful_abandoned_table .rcd-clr
{
    color:#18c364;
}
.cmb2-wrap .table_data_dp {
    display: block;
    width: 100%;
    border-top: 1px solid #ecf1fb;
    padding: 0;
    margin: 0;
}
.cmb2-wrap .dataTables_info
{
    float: left;
    margin: 25px 0 20px;
    font-weight: 500;
    color: #525252;
}
.cmb2-wrap .pagination
{
    margin: 0;
    padding: 0;
    float: right;
}
.cmb2-wrap .pagination ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
}
.cmb2-wrap .pagination li {
    display: inline;
    margin: 0;
    padding: 0;
}
.cmb2-wrap .pagination li a {
    border: 1px solid #dee6f7;
    color: #525252;
    text-decoration: none;
    display: inline-block;
    transition: all .8s ease 0s;
    height: 33px;
    line-height: 33px;
    margin: 0 1px 0 0;
    padding: 0;
    text-align: center;
    width: 35px;
    margin-top: 16px;
    margin-bottom: 2px;
    font-weight: 600;
    border-radius: 3px;
}
.cmb2-wrap .pagination li a:hover {
    background-color:#e2ecff;
    color: #333;
}
.cmb2-wrap .pagination li a.active {
    background-color: #f4f7fd;
    color: #333;
}

.cmb2-wrap .btn_plg {
    padding: 8px 10px;
    line-height: 20px;
    margin-right: 5px;
    border-radius: 4px;
    color: #fff;
}
.cmb2-wrap .btn-view {
    background: #0585f9;
    border: 1px solid #0585f9;
}
.cmb2-wrap .btn-danger {
    background:#f13536;
    border:1px solid #f13536;
}
.cmb2-wrap .action-section .btn-view:hover {
    color: #0585f9;
    border:1px solid #0585f9;
    background:#fff;
}
.cmb2-wrap .action-section .btn-danger:hover {
    color: #f13536 ;
    border:1px solid #f13536;
    background:#fff;
}
.cmb2-wrap .email-section a
{
    font-weight: 600;
    color: #1e2b3d;
    text-decoration: none;
}
.email-sectiona a:hover{
    color: #1e2b3d;
}
.cmb2-wrap .btn_action {
    padding: 5px 6px;
    line-height: 20px;
    margin-right: 5px;
    border-radius: 3px;
}
.cmb2-wrap .dashicons_action
{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
}
.cmb2-wrap .customer-type{
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
    position: relative;
    font-size: 11px;
    bottom: 1px;
    display: inline-block;
}
.cmb2-wrap .user_dt {
    background: #0585f9;
    width: 55px;
}
.cmb2-wrap .guest_dt {
    background: #efa22d;
    width: 35px;
}
