.cmb2-options-page {
    max-width: 100% !important;
}

.button-red {
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    box-shadow: 0 1px 0 #d42d2a;
    text-decoration: none;
}

.button-green {
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
    box-shadow: 0 1px 0 #3eae50;
    text-decoration: none;
}
p.submit{
    text-align: right !important;
}
.nav-tab-wrapper .nav-tab {
    padding: 15px 20px;
    background: #ffffff;
    color: #74777b;
    line-height: 1;
    transition: all 0.2s;
}
.nav-tab-wrapper .nav-tab.nav-tab-active, .nav-tab-wrapper .nav-tab:hover {
    background: none;
    box-shadow: inset 0 3px 0 #f27052;
    border-top-color: #f27052;
    color: #f27052;
}