.rnoc-grid-container {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 30px;
    padding: 10px;
}
.rnoc-grid-container .rnoc-grid-cell {
    padding: 10px;
    border-radius: 2px;
}
.rnoc-grid-cell .header {
    font-weight: 800;
    font-size: large;
    text-transform: capitalize;
}
.rnoc-grid-cell {
    text-align: justify;
}
.retainful_premium_card_box .retainful_premium_grid {
    padding: 20px 20px 30px;
    box-shadow: 0 2px 4px rgba(126,142,177,.12);
    border: 1px solid #eee;
    border-bottom: 3px solid transparent;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: all .3s ease-in-out;
}
.retainful_premium_card_box .retainful_premium_grid:hover{
    box-shadow: 0 5px 25px 0 rgba(0,0,100,.1);
    border-bottom: 3px solid #54B22E;
}
.retainful_premium_card_box .retainful_premium_grid .retainful_premium_heading {
    padding: 0 5px 0 5px;
    text-align: center;
    font-size: 23px;
    color: #2d2f3a;
    font-weight: 500;
    line-height: 1.33;
}
.retainful_premium_card_box .retainful_premium_grid .retainful_premium_para p {
    padding: 0 20px 10px;
    text-align: center;
    font-size: 16px;
    color: #6c747a;
    line-height: 1.7;
    font-weight: 400;
    margin: 10px 0;
}
.retainful_premium_card_box .retainful_premium_grid .footer {
    text-align: center;
}
.retainful_premium_card_box .retainful_premium_grid .button-premium {
    color: #fff;
    background: #54B22E;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
    height: auto;
    margin: 0;
    padding: 10px 30px;
    cursor: pointer;
    border-width: 0;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 5px;
    white-space: nowrap;
    box-sizing: border-box;
    margin-right: 28px;
    box-shadow: 0 4px 3px rgba(126, 142, 177, 0.40);
}
.retainful_premium_card_box .retainful_premium_grid .button-premium:hover {
    color: #fff;
    box-shadow: 0 7px 6px rgba(126, 142, 177, 0.40);
}
.retainful_premium_card_box .retainful_premium_grid .avatar-lg-bg {
    height: 3.9rem;
    text-align: center;
    width: 3.9rem;
    margin: 15px auto;
    border-radius: 50%;
    background: #f0ffea;
}
.retainful_premium_card_box .retainful_premium_grid .retain-icon-premium {
    font-size: 25px;
    color: #54B22E;
    line-height: 60px;
    padding: 0 0;
    position: relative;
    right: 2px;
}
@media only screen and (max-width: 1350px) {
    .retainful_premium_card_box .retainful_premium_grid .retainful_premium_heading {
        padding: 5px 5px 0 5px;
        font-size: 19px;
        margin-right: 0;
    }
    .retainful_premium_card_box .retainful_premium_grid .retainful_premium_para p {
        font-size: 14px;
    }
}
@media only screen and (max-width: 1024px) {
    .retainful_premium_card_box {
        display: block;
        grid-template-columns: 24% 25% 25% 24%;
        grid-gap: 10px;
        padding: 10px;
    }
}
#submit-cmb {
    display: none;
}