.rnoc_counter_container {
    width: 100%;
}

.rnoc_counter_container .rnoc_counter_widget {
    display: inline-block;
    position: relative;
    min-width: 150px;
    margin-right: 2%;
    width: 23%;
    float: left;
    background-color: #FFF;
    color: #FFF;
}

.rnoc_counter_widget.widget_violet{
    background: #5a3bb3;
}.rnoc_counter_widget.widget_green{
    background: #01a300;
}.rnoc_counter_widget.widget_orange{
    background: #ea8906;
}.rnoc_counter_widget.widget_blue{
    background: #0192a5;
}

.rnoc_counter_container .rnoc_counter_widget .rnoc_widget_title_container {
    text-align: center;
    padding: 8px;
}
.rnoc_counter_container .rnoc_counter_widget .rnoc_counter_title {
    font-size: 14px;
}

.rnoc_counter_container .rnoc_counter_widget .rnoc_counter_body {
    padding: 0.5em;
    text-align: center;
    font-size: 2em;
}