/*styles for toasts*/
.rnoc_notification {
    position: fixed;
    top: 50px;
    right: 20px;
    z-index: 1000;

}

.rnoc_notification .toast {
    position: relative;
    padding: 8px;
    color: #fff;
    margin-bottom: 10px;
    width: 350px;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    border-radius: 5px;
    --color: #0abf30;
    animation: show 0.3s ease 1 forwards;
    background: #75b17a;
    border: 2px solid #0abf30
}

.rnoc_notification .toast i {
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}

.rnoc_notification .toast .content .title {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;

}

.rnoc_notification .toast .toast-msg,
.rnoc_notification .toast i:nth-child(3) {
    color: #ffffff;
    opacity: 0.6;
    font-weight: 600;
}

@keyframes show {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-50%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10%);
    }
}

/*.rnoc_notification .toast::before {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    color: seagreen;*/
/*    width: 100%;*/
/*    height: 3px;*/
/*    background: seagreen;*/
/*    content: '';*/
/*    box-shadow: 0 0 8px var(--color);*/
/*    animation: timeOut 5s linear 1 forwards;*/
/*}*/

@keyframes timeOut {
    to {
        width: 0;
    }

}

.rnoc_notification .toast.error .close-icon, .rnoc_notification .toast.error {
    border: 2px solid #f1e1e1 !important;
    background: #ec5555 !important;
}


.rnoc_notification .toast.warning .tick-icon, .rnoc_notification .toast.warning {
    border: 2px solid #e9bd0c !important;
}

.rnoc_notification .toast.warning .tick-icon::before {
    --color: #e9bd0c;
    border-right: 2px solid #e9bd0c !important;
    border-bottom: 2px solid #e9bd0c !important;

}

.rnoc_notification .toast.info .tick-icon, .rnoc_notification .toast.info {
    border: 2px solid #3498db !important;
}

.rnoc_notification .toast.info .tick-icon::before {
    --color: #3498db;
    border-right: 2px solid #3498db !important;
    border-bottom: 2px solid #3498db !important;


}

.tick-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    transform: rotate(45deg);
    position: relative;
    border-radius: 50%;
}

.tick-icon::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 13px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    top: 7px;
    left: 13px;
}

.close-icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    border: 2px solid #f24d4c;
    transform: rotate(45deg);
    position: relative;
    border-radius: 50%;
}

.close-icon::before, .close-icon::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 53%;
    background-color: #fff;
    top: 6px;
    left: 49%;
}

.close-icon::before {
    transform: rotate(-15deg) translateX(-50%);
}

.close-icon::after {
    transform: rotate(-79deg) translateX(-50%);
}