@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

[class*="retainful"] {
  font-family: "Nunito", sans-serif;
  //Form
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    position: relative;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border: 0.1rem solid #c4cdd5;
    border-radius: 0.3rem;
    color: #31373d;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 16px;
    min-width: 7.5rem;
    height: auto;
    margin: 0;
    max-width: 100%;
    font-family: inherit;
    box-shadow: 0 0 0 1px transparent, 0 1px 0 0 rgba(22, 29, 37, 0.05);
    box-sizing: border-box;
    transition: box-shadow 0.2s cubic-bezier(0.64, 0, 0.35, 1);

    &:focus {
      border-color: #5c6ac4;
      box-shadow: inset 0 0 0 0 transparent, 0 0 0 0.1rem #5c6ac4;
      outline: none;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: #f4f6f8;
      border: 0.1rem solid #dfe4e8;
      color: #c4cdd5;
    }
    .error & {
      border-color: #ed6347;
      background-color: #fbeae5;

      &:focus {
        border-color: #5c6ac4;
      }
    }
    &[type="search"] {
      padding-left: 3rem;
      background-image: icon(search, "rgb(149,167,183)");
      background-repeat: no-repeat;
      background-size: 18px 18px; /* IE requires pixels. Using cover/contain/rem values cause blurry edges */
      background-position: top 0.8rem left 0.8rem;
    }
  }
  ::-webkit-input-placeholder {
    color: hsl(0, 0%, 62%);
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: hsl(0, 0%, 62%);
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: hsl(0, 0%, 62%);
  }
  :-ms-input-placeholder {
    color: hsl(0, 0%, 62%);
  }
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  input[type="radio"],
  input[type="checkbox"],
  textarea,
  select {
    appearance: none;
  }
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    min-height: 3.4rem;
  }
  select {
    padding-right: 3.2rem;
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: right 0.7rem top 0.7rem;
    box-shadow: 0 0 0 1px transparent, 0 1px 0 0 rgba(22, 29, 37, 0.05);

    &[multiple] {
      padding-right: 1rem;
      background-image: none;
    }
    &:disabled {
      background-image: icon(select-arrows, "rgb(145,158,171)");
      box-shadow: none;
    }
    &::-ms-expand {
      display: none;
    }
  }
  textarea {
    min-height: 6.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  legend {
    display: block;
    font-weight: 600;
  }
  fieldset {
    padding: 0;
    border-width: 0;
  }
  input[type="checkbox"],
  input[type="radio"] {
    position: relative;
    display: inline-block;
    height: 1.6rem;
    width: 1.6rem;
    border: 0.1rem solid #c4cdd5;
    background: linear-gradient(180deg, #fff, #f9fafb);
    box-shadow: 0 0 0 1px transparent, 0 1px 0 0 rgba(22, 29, 37, 0.05);
    margin: 0 1rem 0 0;
    padding: 0;
    box-sizing: border-box;

    &:checked:after {
      content: "";
      position: absolute;
    }
    &:active {
      border: 0.1rem solid #5c6ac4;
      box-shadow: 0 0 0 0.1rem #5c6ac4;
    }
    &:focus {
      outline: none;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: #fafbfc;
      border: 0.1rem solid #ebeef0;
      box-shadow: none;
      color: #c3cfd8;
    }
    .error & {
      border-color: #ed6347;
      background-color: #fbeae5;

      &:active {
        border: 0.1rem solid #5c6ac4;
        box-shadow: 0 0 0 0.1rem #5c6ac4;
      }
    }
  }

  input[type="checkbox"] {
    border-radius: 0.3rem;

    &:disabled:checked:after {
      background-image: icon(checkmark, "rgb(196,205,213)");
    }
    &:checked:after {
      width: 1.2rem;
      height: 1.2rem;
      background-image: icon(checkmark, "rgb(92,106,196)");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px 12px; /* IE requires pixels. Using cover/contain/rem values cause blurry edges */
      top: 0.1rem;
      left: 0.1rem;
    }
  }
  input[type="radio"] {
    border-radius: 0.8rem;
    margin-top: -4px;
    margin-right: 4px;
    &:disabled:checked:after {
      background-color: rgb(196, 205, 213);
    }
    &:checked:after {
      width: 0.8rem;
      height: 0.8rem;
      background-color: rgb(92, 106, 196);
      border-radius: 0.5rem;
      top: 0.3rem;
      left: 0.3rem;
    }
  }
  label {
    display: inline-block;
    color: #39424b;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 5px;
    &.error,
    .error & {
      color: #bf0711;
    }
    .label-cta {
      float: right;
    }
  }
  input[type="checkbox"]:checked::before {
    width: 28px;
    float: none;
  }
  input[type="radio"]:checked::before {
    float: none;
    width: 0;
  }
  /* Buttons
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    min-height: 2.6rem;
    min-width: 3.6rem;
    font-size: 16px;
    margin: 0;
    padding: 0.7rem 1.4rem;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
    box-sizing: border-box;
    cursor: pointer;
    white-space: nowrap;
    text-transform: none;
    font-family: inherit;
    font-weight: normal;
    vertical-align: middle;
    user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    border-color: #5c6ac4;
    color: #5c6ac4;
    &.button-primary {
      background: linear-gradient(180deg, #6371c7, #5563c1);
      border-color: #3f4eae;
      box-shadow: inset 0 1px 0 0 #6774c8, 0 1px 0 0 rgba(22, 29, 37, 0.05),
        0 0 0 0 transparent;
      color: #fff;
      fill: #fff;
      border-radius: 0.3rem;
      &:hover {
        background: linear-gradient(180deg, #5c6ac4, #4959bd);
        border-color: #3f4eae;
        text-decoration: none;
        color: #fff;
        fill: #fff;
      }
      &:focus {
        text-decoration: none;
        color: #fff;
        fill: #fff;
        outline: 0;
        border-color: #202e78;
        box-shadow: inset 0 1px 0 0 #6f7bcb, 0 1px 0 0 rgba(22, 29, 37, 0.05),
          0 0 0 1px #202e78;
      }
      &:active {
        text-decoration: none;
        color: #fff;
        fill: #fff;
        background: linear-gradient(180deg, #3f4eae, #3f4eae);
        border-color: #38469b;
        box-shadow: inset 0 0 0 0 transparent, 0 1px 0 0 rgba(22, 29, 37, 0.05),
          0 0 1px 0 #38469b;
      }
    }
    &.secondary {
      fill: #637381;
      color: #212b36;
      background: linear-gradient(180deg, #fff, #f9fafb);
      border: 1px solid #c4cdd5;
      box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);

      &:hover {
        fill: #637381;
        color: #212b36;
        background: linear-gradient(180deg, #f9fafb, #f4f6f8);
        border-color: #c4cdd5;
      }
      &:focus {
        fill: #637381;
        color: #212b36;
        border-color: #5c6ac4;
        outline: 0;
        box-shadow: 0 0 0 1px #5c6ac4;
      }
      &:active {
        fill: #637381;
        color: #212b36;
        background: linear-gradient(180deg, #f4f6f8, #f4f6f8);
        border-color: #c4cdd5;
        box-shadow: 0 0 0 0 transparent,
          inset 0 1px 1px 0 rgba(99, 115, 129, 0.1),
          inset 0 1px 4px 0 rgba(99, 115, 129, 0.2);
      }
    }
    &.warning {
      background: linear-gradient(180deg, #ee6b50, #ec5b3e);
      border-color: #e83c19;
      box-shadow: inset 0 1px 0 0 #ee6f55, 0 1px 0 0 rgba(22, 29, 37, 0.05),
        0 0 0 0 transparent;
      color: #fff;
      fill: #fff;

      &:hover {
        background: linear-gradient(180deg, #ed6347, #eb4f30);
        border-color: #e83c19;
      }
      &:focus {
        border-color: #bf0711;
        box-shadow: inset 0 1px 0 0 #ef775e, 0 1px 0 0 rgba(22, 29, 37, 0.05),
          0 0 0 1px #bf0711;
      }
      &:active {
        background: linear-gradient(180deg, #e83c19, #e83c19);
        border-color: #d33515;
        box-shadow: inset 0 0 0 0 transparent, 0 1px 0 0 rgba(22, 29, 37, 0.05),
          0 0 1px 0 #d33515;
      }
    }
    &.link {
      background: transparent;
      border: 0;
      box-shadow: none;
      text-decoration: none;

      color: #5c6ac4;
      transition: color 0.24s cubic-bezier(0.64, 0, 0.35, 1);

      &:hover {
        color: #202e78;
      }
      &:focus {
        color: #000639;
        text-decoration: underline;
      }
      &:active {
        color: #5c6ac4;
      }
    }
    &.disabled,
    &:disabled,
    &:disabled:hover,
    &:disabled:focus,
    &:disabled:active {
      cursor: not-allowed;
      fill: #919eab;
      background: #f4f6f8;
      color: #919eab;
      border: 1px solid #c4cdd5;
      box-shadow: none;
    }
  }
  #retainful-settings-form {
    table.form-table {
      label + label {
        margin-left: 10px;
      }
    }
  }
  .card {
    border-radius: 8px;
    border: 1px solid #dadce0;
    box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff;
    box-sizing: border-box;
  }
  .nav-tab-wrapper{
    margin-top: 15px;
    border-bottom: none;
    .nav-tab{
      position: relative;
      padding: 15px 20px;
      background: #ffffff;
      font-size: 16px;
      transition: all 0.3s ease;
      text-decoration: none;
      cursor: pointer;
      color: #737c83;
      display: inline-block;
      border: none;
      font-weight: 600;
      border-bottom: 3px solid transparent;
      margin-left: 0;
      &-active{
        color: #333333;
        border-bottom-color: #ff7f45;
      }
      &:hover, &:focus{
        color: #ff7f45;
        box-shadow: none;
        outline: none;
      }
      &:after{
        content: '';
        display: inline-block;
        height: 15px;
        width: 2px;
        background: #c3cfd8;
        position: absolute;
        right: 0;
        top: 35%;
      }
      &:last-child{
        &:after{
          content: none;
        }
      }
    }
  }
}
